*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-image:url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body:before{
    content: "";
    width: 110%;
    min-height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(100deg, #080707, #544f4f);
    opacity: 0.7;
    z-index: -1;

}

h1{
    text-align: center;
    padding: 10px;
    background: wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pdfview{
    margin: auto;
    display: block;
    width: 850px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2)
    , 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}