body{
    margin: 0;
    background-image:url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #080707, #544f4f);
    opacity: 0.7;
    z-index: -1;

}
*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 10px;
    background: wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#vista{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 2%;
    width: 110%;
    height: 100%;
    border: 6px solid rgb(28, 182, 162);

}

#txCodigo{
    color: #ffffff;
    background: rgb(0, 0, 0);
    border-radius: 2%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 100%;
    border: 6px solid rgb(28, 182, 162);
}

#areaNumeracion{
    border: 4px solid rgb(28, 182, 162);
    color: #ffffff;
    background: rgb(0, 0, 0);
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 5%;
    height: 100%;
}

.icon-upload {
    font-size:25px;
    color: #e4d1d1;
    cursor: pointer;
    line-height: 0em;
}

    .icon-upload:hover {
        color: #1d1d1f;
    }

